[submodule "lib/BSPgenerica_v2.1"]
	path = lib/BSPgenerica_v2.1
	url = git@github.com:Atsunnytec/BSPgenerica_v2.1.git
[submodule "lib/checkSensorPulse"]
	path = lib/checkSensorPulse
	url = git@github.com:Atsunnytec/checkSensorPulse.git
[submodule "lib/extendedIOs"]
	path = lib/extendedIOs
	url = git@github.com:Atsunnytec/extendedIOs.git
[submodule "lib/ihmSunnytecMaster_v2.0"]
	path = lib/ihmSunnytecMaster_v2.0
	url = git@github.com:Atsunnytec/ihmSunnytecMaster_v2.0.git
[submodule "lib/SunnyAccelStepper"]
	path = lib/SunnyAccelStepper
	url = git@github.com:Atsunnytec/SunnyAccelStepper.git
