[submodule "lib/BSPgenerica_v2.1"]
	path = lib/BSPgenerica_v2.1
	url = git@github.com:Atsunnytec/BSPgenerica_v2.1.git
[submodule "lib/checkSensorPulse"]
	path = lib/checkSensorPulse
	url = git@github.com:Atsunnytec/checkSensorPulse.git
